* {
  margin: 0;
  padding: 0;
  color: white;
  background-color:#0f0f0f;
  font-family: "Roboto", sans-serif;
}

/*.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

nav div {
  display: flex;
  padding: 15px 30px;
  gap: 10px;
}

.menu-logo { /**/
  gap: 23px;
}

#yt-logo-updated_yt4 {
  width: 90px;
  fill: white;
}

svg, i, img, h4{
  cursor: pointer;
}

.barra-de-busqueda{
  display: none;
}

.barra-3{
  display: flex;
  gap: 10px;
}

.barra-3 button{
  padding: 11px;
  border-radius: 100%;
  outline: none;
  border-color: none;
}

.yt-img-shadow {
  border-radius: 100%;
}

button{
  border-style: none;
  border-color: rgb(44, 44, 44);
}

.Search {
  border: #ffffff 1px solid;
  border-radius: 40px 0px 0px 40px;
  padding: 11px;
  margin-right: 0px;
  border-color: rgb(44, 44, 44);
}

.Lupa {
  border-radius: 0px 40px 40px 0px;
  padding: 11px;
  margin-left: 0px;
  background-color: rgb(44, 44, 44);
}

.Search-Lupa{
  display: flex;
}

.Microfono {
  border-radius: 100%;
  padding: 11px;
  background-color: rgb(44, 44, 44)
}

.Responsive-main-left {
  display: none;
}

.Responsive-main-left i {
  padding: 25px;
  border-radius: 15px;
}

.Responsive-main-left i:hover {
  background-color: rgb(44, 44, 44);
}

.algoritmo {
  display: flex;
  gap: 25px;
  align-items: center;
}

.algoritmo p {
  padding: 0px 30px;
  border-radius: 15px;
  background-color: rgb(44, 44, 44);
  justify-content: center;
}

.algoritmo p:hover{
  background-color:rgb(66, 66, 66) ;
}

.Descripcion{
  display: flex;
}

.foto-canal{
  padding: 0px 5px 5px 0px;
}

.video-display {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding: 25px;
  gap: 5px;
  
}

.video{
  padding: 5px;
  gap: 5px;
}

.video>img{
  width: 100%;
} 

.Titulo-canal-vistas p{
  color: rgb(138, 138, 138);
  cursor: pointer;
}


@media only screen and (min-width: 768px){
  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
  }

  .barra-de-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px 15px 25px;
  }

  main>div{
    display: grid;
    grid-template-columns: 5% 95%;
  }

  .button-responsive-appear {
    display: none;
  }

  .algoritmo {
    padding-left: 15px;
    overflow-x: hidden;
  }

  .Responsive-main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Responsive-main-left p {
    font-size: 10px;
  }

  .video-display {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 15px;
    gap: 15px;
    width: 20fr;
  } 

}

@media only screen and (min-width: 992px){
  .video-display {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 15px;
    gap: 15px;
    width: 20fr;
  }

  .algoritmo {
    padding-left: 15px;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1200px){
  .video-display {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 15px;
    gap: 15px;
    width: 20fr;
  }

  .algoritmo {
    padding-left: 15px;
    overflow-x: hidden;
  }
}

